@page
@model AmoretuERPWeb.Pages.Admin.User.ListModel
@{
    ViewData["Title"] = "List";
}

<h1>List</h1>

@(Html.DevExpress().BootstrapGridView<AmoretuERPWeb.Pages.Admin.User.ListModel.GridItem>("grid")
      .KeyFieldName("Id")
      .SettingsBehavior(sb =>
      {
          sb.AllowSort(false);
          sb.AllowGroup(false);
      })
      .Columns(col =>
      {
          col.Add().Caption($"<a href=\"{Url.Page("Edit")}\">添加</a>").DataItemTemplate(t => @<text>
                                                                                                <a href="@Url.Page("Edit", new {id = t.Eval("Id")})">编辑</a>
                                                                                                <a href="@Url.Page("Edit","disable", new {id = t.Eval("Id")})" onclick="return confirm('确认？')">禁用</a>
                                                                                             </text>);
          col.Add(m => m.UserName);
          col.Add(m => m.Email);
      }).Bind(Model.Items))